@model AuthCodeWebAppMVC.Models.Token   
<html>
<ul>
    <li>Access token: <br /><code> @Model.access_token </code></li>
    <li>Refresh token: <br /> <code>@Model.refresh_token</code></li>
</ul>
</html>